@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: rgb(204, 204, 204);
}
.container_header{
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    justify-content: space-between;
    padding: 0px 20px;
    margin: auto;
}
.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo img{
    width: 100px;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: transparent;
    transition: background-color,0.3s ease;
    padding: 0px 20px;
    z-index: 1000;
}
.menu nav{
    padding: 0px 20px;
}
.menu nav ul{
    display: flex;
}
.menu nav ul li{
    list-style: none;
    padding: 16px 20px;
}
.menu nav ul li a{
    color: black;
    position: relative;
}
.menu nav ul li a:hover{
    color: white;
    transition: 0.5s;
}
.boton_1{
    margin: 0px 20px;
    padding: 16px 30px;
    color: black;
    background-color: white;
    display: block;
    border: 2px solid white;
    border-radius: 50px;
    position: relative;
}
.boton_1:hover{
    background-color: gold;
    transition: 0.3s;
}
.redes{
    margin-left: 3px;
    display: flex;
}
.redes img{
    width: 40px;
    margin: 5px;
}
main{
    width: 100%;
    height: 100px;
}
.container_cover{
    padding-top: 100px;
    padding-bottom: 100px;
}
.cover {
    max-width: 1200px;
    padding: 0px 20px;
    margin: auto;
    display: flex;
    align-items: center;
}
.text_cover{
    padding-right: 150px;
    width: 100%;
}
.text_cover h1{
    font-size: 40px;
    color: black;
    display: flex;
}
.text_cover p{
    font-size: 22px;
}
.boton_2{
    width: 120px;
    padding: 16px 20px;
    display: block;
    color: black;
    background-color: rgb(204, 204, 204);
    border: 2px solid rgb(204, 204, 204);
    border-radius: 50px;
    position: relative;
}
.boton_2:hover{
    background-color: gold;
    transition: 0.3s;
}
.image_cover{
    width: 100%;
}
.image_cover img{
    width: 400px;
    height: 460px;
    margin-left: 15px;
}
.container_general{
    background-color: rgb(204, 204, 204);
    padding-top: 100px;
}
.primario{
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    padding: 0px 20px;
}
.text_primario{
    max-width: 800px;
    margin-left: 400px;
}
.text_primario p{
    margin-left: 25px;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 500;
}
.text_primario h1{
    font-size: 21px;
    font-weight: 600;
}
.container_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.card_primario{
    max-width: 350px;
    padding: 60px 40px;
    margin: 14px;
    border: 2px solid white;
    background-color: white;
    border-radius: 25px;
}
.card_primario:hover{
    background-color: transparent;
    transition: 0.3s;
}
.card_primario img{
    margin-left: 70px;
    width: 100px;
    height: 100px;

}
.container_about{
    padding-top: 100px;
    padding-bottom: 100px;
}
.about{
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 0px 20px;
    align-items: center;
}
.text_about{
    padding-right: 150px;
    width: 100%;
}
.text_about h2{
    font-size: 40px;
    display: flex;
    color: black;
}
.text_about p{
    font-size: 22px;
}
.boton_3{
    width: 120px;
    display: block;
    margin: 14px;
    color: black;
    position: relative;
    background-color: rgb(204, 204, 204);
    border: 2px solid rgb(204, 204, 204);
    border-radius: 50px;
    padding: 16px 20px;
}
.boton_3:hover{
    background-color: gold;
    transition: 0.3s;
}
.image_about{
    display: flex;
    justify-content: space-between;
}
.image_about img{
    width: 300px;
    margin: 5px;
    border-radius: 50px 480px;
}
.container_servicio{
    background-color: rgb(204, 204, 204);
    padding-top: 100px;
}
.servicio{
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    padding: 0px 20px;
}
.text_servicio{
    max-width: 800px;
    margin-left: 300px;
}
.text_servicio p{
    margin-left: 250px;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 500;
}
.text_servicio h1{
    font-size: 21px;
    display: flex;
    font-weight: 600;

}
.container__proyect{
    padding: 100px 0px;
    margin-top: 100px;
    
}

.container__card-proyect {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card__proyect {
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    background-size: cover;
    background-position: center;
}

.card__proyect h2, .card__proyect p {
    margin: 0;
}

.card__proyect:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}
.container__form{
    background-color: rgb(204, 204, 204);
    padding-top: 100px ;
    padding-bottom: 100px ;
    display: flex;
    background-color: var(--color_primary);
}
.container__form h1{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 20px;
}
form{
    padding: 20px;
    width: 260px;
    background-color: var(--color_primary);
    margin-left: 250px;
    margin-top: 50px;
    border: 2px solid var(--color_cuaternario);
    border-radius: 10px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: red;
}
.image__form{
    display: flex;
    align-items: center;
    width: 100%;
}
.image__form img{
    width: 400px;
    margin-left: 150px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s; 
}

input[type="submit"]:hover {
    background-color: red;
}
.map {
    height: 800px;
}
.container__fotter{
    width: 100%;
    color: #fff;
    background-color: #0a141d;
}
.derechos{
    margin-left: 600px;
}
.contenido{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.texto_principal{
    padding-right: 150px;
}
.texto_secundario{
    width: 250px;
}